<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>


   <!--- Basic Page Needs
   ================================================== -->
	<meta charset="utf-8">
	<title>Spiritoe</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
  ================================================== -->


	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/grid.min.css">
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=New+Rocker" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Trade+Winds" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kavoon" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Croissant+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">








	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/log.png">


</head>

<body data-spy="scroll" data-target="#nav-wrap">


   <!-- Header
   ================================================== -->
   <header class="mobile">

      <div class="row">

         <div class="col full">

            <div class="logo" style="right:160px">
               <a href="#"><img id="img1" alt="" src="images/log.png"></a>
            </div>

            <nav id="nav-wrap" style="float:right;">

               <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

               <ul id="nav" class="nav">
	               <li><a href="#intro" style="font-family: 'Kavoon', cursive;">Home</a></li>
	               <li><a href="#services" style="font-family: 'Kavoon', cursive;">Why Spiritoe</a></li>
	               <li><a href="#portfolio" style="font-family: 'Kavoon', cursive;">Portfolio</a></li>
								 <li><a href="#videos" style="font-family: 'Kavoon', cursive;">Videos</a></li>
                  <li><a href="#about" style="font-family: 'Kavoon', cursive;">Achievements</a></li>
									<li><a href="#Profile" style="font-family: 'Kavoon', cursive;">Profile</a></li>
                  <li><a href="#contact" style="font-family: 'Kavoon', cursive;">Contact</a></li>
               </ul>

            </nav>

         </div>

      </div>

   </header> <!-- Header End -->


   <!-- Intro Section
   ================================================== -->
   <section id="intro">

      <!-- Flexslider Start-->
	   <div id="intro-slider" class="flexslider">

			 <ul class="slides">

 			   <!-- Slide -->
 			   <li>
 				   <div class="row" >
 					   <div class="col full" >
 						   <div class="slider-text">
 								 <h1 style="color:#a0308b;font-size: 80px;padding-top:60px;font-family: 'Vollkorn', serif;">SPIRITOE</h1>
 								<h2 style="color:white;font-size:70px;font-family:'Vollkorn', serif;">DANCE STUDIO</h2>
 						   </div>
 					   </div>
 				   </div>
 			   </li>

             <!-- Slide -->
 			   <li>
 				   <div class="row">
 					   <div class="col full">
 						   <div class="slider-text">
 								 <h2 style="font-family: 'Vollkorn', serif;">Soul<span> meets </span>Dance</h2>
 							<p style="font-family: 'Courgette', cursive;">SPIRITOE a place where your <a href="#portfolio">Soul </a>meets <a href="#portfolio">Dance</a> we have 8 years of experienced Dance instructors. Our Instructors are well trained and showcased lots of dance shows . Trained more than 1000+ students .</p>
 				    </div>
 					   </div>
 				   </div>
 			   </li>

 				 <!-- Slide -->
 		 <li>
 			 <div class="row">
 				 <div class="col full">
 					 <div class="slider-text">
 						 <h2 style="font-family: 'Vollkorn', serif;">Experienced<span> Dance </span>Instructors</h2>
 							   <p style="font-family: 'Courgette', cursive;">Our instructors are trained under various National and International artists. We provide a perfect dance syllabus in all styles.</p>
 						  </div>
 				 </div>
 			 </div>
 		 </li>

 		   </ul>
	   </div>
	   <!-- Flexslider End-->

   </section> <!-- Intro Section End-->


   <!-- Services Section
   ================================================== -->
   <section id="services">

      <div class="row section-head">

         <div class="col one-third">
            <h2 style="font-family: 'Trade Winds', cursive;">Why Spiritoe </h2>
            <p class="desc">What we do.</p>
         </div>

         <div class="col two-thirds">
            <div class="intro">
             <p style="font-family: 'Courgette', cursive; color:silver;">We do not aim only about just dancing . we put forward the students to learn the dance syllabus . We concentrate on techniques , creativity , self-esteem , confidence , etc . To create an inspirational , fun , creative and social experience through dancing .
              </p>
            </div>
         </div>

      </div>

      <div class="row">

         <div class="services-wrapper">
					 <div class="col">
                <h2 style="font-family: 'Trade Winds', cursive;"><i class="icon-star"></i>REGULAR CLASS</h2>
                <p style="font-family: 'Courgette', cursive;">BATCH-I[TEAM PEGASUZ]=Age 4-7yrs</p>
                 <p style="font-family: 'Courgette', cursive;">BATCH-II[CREW BYZON]=Age 8-12yrs</p>
                 <p style="font-family: 'Courgette', cursive;">BATCH-III[THE T'REX]=Age 13-18yrs</p>
                 <p style="font-family: 'Courgette', cursive;">BATCH-IV[SPIRITOE CREW]=Above 18</p>
             </div>

             <div class="col" style="margin-left:30px;">
                <h2 style="font-family: 'Trade Winds', cursive;"><i class="icon-star"></i>CHOREOGRAPHY</h2>
                <p style="font-family: 'Courgette', cursive;">-School Choreography </p>
                 <p style="font-family: 'Courgette', cursive;">-College Choreography </p>
                 <p style="font-family: 'Courgette', cursive;">-Corporate Choreography </p>
                 <p style="font-family: 'Courgette', cursive;">-Competitions & Shows </p>
             </div>

             <div class="col m-first" style="margin-left:-30px">
                <h2 style="font-family: 'Trade Winds', cursive;"><i class="icon-star"></i>DANCE SHOWS</h2>
                <p style="font-family: 'Courgette', cursive;">-Corporate Shows</p>
                 <p style="font-family: 'Courgette', cursive;">-Starnight Shows</p>
                 <p style="font-family: 'Courgette', cursive;">-Flash mob & Host performances</p>
                 <p style="font-family: 'Courgette', cursive;">-Marriage Shows & Birthday Shows</p>
             </div>

 						<div class="col m-first" style="margin-left:150px">
 							 <h2 style="font-family: 'Trade Winds', cursive;"><i class="icon-star"></i>DANCE SHOWS</h2>
 							 <p style="font-family: 'Courgette', cursive;">-Corporate Shows</p>
 								<p style="font-family: 'Courgette', cursive;">-Starnight Shows</p>
 								<p style="font-family: 'Courgette', cursive;">-Flash mob & Host performances</p>
 								<p style="font-family: 'Courgette', cursive;">-Marriage Shows & Birthday Shows</p>
 						</div>

             <div class="col m-first">
                <h2 style="font-family: 'Trade Winds', cursive;"><i class="icon-star"></i>DANCE EVENTS</h2>
                 <p style="font-family: 'Courgette', cursive;">-Workshops</p>
                 <p style="font-family: 'Courgette', cursive;">-Event organization</p>
                 <p style="font-family: 'Courgette', cursive;">-VJ,DJ and MC's</p>
                 <p style="font-family: 'Courgette', cursive;">-Stage Designs & Event Artist</p>
             </div>
         </div> <!-- Services-Wrapper End -->

      </div> <!--end row -->

   </section> <!-- Services Section End -->

   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row section-head">
         <div class="col full">
            <h2 style="text-align:center;font-family: 'Trade Winds', cursive;">Portfolio</h2>
            <p style="text-align:center" class="desc">Check out our latest collection.</p>
         </div>
      </div>

      <div class="row">

		   <!-- Portfolio Wrapper -->
		   <div id="portfolio-wrapper">

			   <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-01"><img src="images/1%20%20(1).JPG" style="display: block;max-width: 100%;height: 200px;"alt=""/></a>
					   <div class="portfolio-item-meta">
						   <!-- <h5><a href="#">Street dance</a></h5> -->
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-02"><img src="images/1%20%20(2).jpg" style="display: block; max-width: 100%;height: 200px;"alt=""/></a>
					   <div class="portfolio-item-meta">
						   <!-- <h5><a href="#">Events</a></h5> -->
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-03"><img src="images/1.png" style="display: block; max-width: 100%;height: 200px;"alt=""/></a>
					   <div class="portfolio-item-meta">
						   <!-- <h5><a href="#">Workshops</a></h5> -->
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-04"><img src="images/2%20(1).jpg" style="height:200px" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <!-- <h5><a href="#">Sneaker Splash</a></h5> -->
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-05"><img src="images/2%20(4).jpg" style="height:200px" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <!-- <h5><a href="#">Our team</a></h5> -->
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-06"><img src="images/2%20(2).jpg" style="height:200px" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <!-- <h5><a href="#">Studio</a></h5> -->
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-07"><img src="images/2%20(3).jpg" style="height:200px"alt=""/></a>
					   <div class="portfolio-item-meta">
						   <!-- <h5><a href="#">Under 18 team</a></h5> -->
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-08"><img src="images/3.jpg" style="height:200px"alt=""/></a>
					   <div class="portfolio-item-meta">
						   <!-- <h5><a href="#">Folk</a></h5> -->
					   </div>
               </div>
			   </div>

		   </div>

			 <div class="" style="float:right;">
			  <a style="color:#fff" href="/spy"><button type="button" id="video" name="button">For More Photos>></button></a>
			 </div><!-- Portfolio Wrapper End -->
		   </div><!-- End Row -->
 </section>


      <!-- Modal Popup
	   =========================================================== -->




    <!-- Portfolio Modals -->

		   <!-- <img class="scale-with-grid" src="images/1%20%20(1).JPG" alt="" /> -->

	   </div><!-- modal-01 End -->

      <!-- modal-02 -->
	   <div id="modal-02" class="reveal-modal">

		   <img class="scale-with-grid" src="images/1%20%20(2).jpg" alt="" />

	   </div> <!-- modal-02 End -->

      <!-- modal-03 -->
	   <div id="modal-03" class="reveal-modal">

		   <img class="scale-with-grid" src="images/1.png" alt="" />

	   </div> <!-- modal-03 End -->

      <!-- modal-04 -->
	   <div id="modal-04" class="reveal-modal">

		   <img class="scale-with-grid" src="images/2%20(1).jpg" alt="" />

	   </div> <!-- modal-04 End -->

      <!-- modal-05 -->
	   <div id="modal-05" class="reveal-modal">

		   <img class="scale-with-grid" src="images/2%20(2).jpg" alt="" />

	   </div> <!-- modal-05 End -->

      <!-- modal-06 -->
	   <div id="modal-06" class="reveal-modal">

		   <img class="scale-with-grid" src="images/2%20(3).jpg" alt="" />

	   </div> <!-- modal-06 End -->

      <!-- modal-07 -->
	   <div id="modal-07" class="reveal-modal">

		   <img class="scale-with-grid" src="images/2%20(4).jpg" alt="" />

	   </div> <!-- modal-07 End -->

      <!-- modal-08 -->
	   <div id="modal-08" class="reveal-modal">

		   <img class="scale-with-grid" src="images/3.jpg" alt="" />
	   </div>


		 <!-- modal-08 End -->

   </section> <!-- Portfolio End -->
<!--===============================================================================================================-->
                                           <!--LEEVERN-->
<!--===============================================================================================================-->


<!-- ============================================== -->

<!-- ============================================== -->

<section id="videos">

	 <div class="row section-head">
			<div class="col full">
				 <h2 style="text-align:center;font-family: 'Trade Winds', cursive;">Videos</h2>
				 <p style="text-align:center" class="desc">Check out our latest collection.</p>
			</div>
	 </div>

	 <div class="row">
		<div id="portfolio-wrapper">

			<div class="ui equal width grid">
			  <div class="column">
					<iframe width="300" height="230" src="https://www.youtube.com/embed/dnUmhi0xt8M" frameborder="0" allowfullscreen></iframe>
				</div>

			  <div class="column">
					<iframe width="300" height="230" src="https://www.youtube.com/embed/fPH1Ipo1v9g" frameborder="0" allowfullscreen></iframe>
				</div>

			  <div class="column">
					<iframe width="300" height="230" src="https://www.youtube.com/embed/xxubJRoDPWM" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="ui equal width grid">
				<div class="column">
					<iframe width="300" height="230" src="https://www.youtube.com/embed/aIKVVzCfiVc" frameborder="0" allowfullscreen></iframe>
				</div>

				<div class="column">
					<iframe widt100pxh="300" height="230" src="https://www.youtube.com/embed/EEGCYxP4nos" frameborder="0" allowfullscreen></iframe>
					</div>

		<!-- <div class="" style="float:right;">
		 <a style="color:#fff" href="/spy"><button type="button" id="video" name="button">For More Photos>></button></a>
		</div> -->


				<div class="column">
					<iframe width="300" height="230" src="https://www.youtube.com/embed/ISgAHa7JJt0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div><br>

			<div class="" style="float:right;">
				<a style="color:#ff100pxf" href="https://www.youtube.com/channel/UC3nGUifGhcGGDW0uOfFsxvQ"><button type="button" id="video" name="button">For More Videos>></button></a>
			</div>

			</div>

		</div>

 </div>

</section>


                <!-- END OF VIDEO -->


   <!-- Achievements Section
   ================================================== -->
   <section id="about">

      <div class="row section-head">

         <div class="col one-fourth">
            <h2 style="font-family: 'Trade Winds', cursive;">Achievements</h2>
            <p class="desc">This is what we are.</p>
         </div>

         <div class="col three-fourths">
             <strong class="intro" style="font-size:25px;font-family:'Dosis', sans-serif">
							 ==>&nbsp; Winners of RADIO MIRCHI KALOORI STARS.CBE.<br>
							 ==>&nbsp; Winners in BIT-Fiesta Dance competition.<br>
							 ==>&nbsp; Participated in "India's Dancing Superstar" in Star Plus channel at
							    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mumbai.<br>
							  ==>&nbsp; Semi-Finalist in RAJ TV "SUPER DANCERS".<br>
								==>&nbsp; Winners of all India National level solo dance competition-Nehru
 							    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;College.<br>
							 ==>&nbsp; Our kids won in solo and dual dance competition in various events.<br>
							 ==>&nbsp; Our kids participated in various media shows like Mazhvil
							    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manorama,Vijay TV,other channels.<br>


							 ==>&nbsp; Performed more than 1000+ stage shows and 50+ media shows.<br>
						   </strong>
         </div>

      </div>





<section id="Profile">

	       <div class="row"style=  "padding-top: 100px;">

	 				<div class="ui two column stackable grid">
	 				  <div class="column" style="padding-left:18px;padding-top: 100px;">
	 				    <div class="ui segment">
								<img src="images/4%20(1).JPG" width="260" height="230" alt=""/>
								<div class="column">
									<div class="ui segment">
										<ul class="member-social row">
											 <li class="col"><a href="https://www.facebook.com/sri.mj"><i class="icon-facebook"></i></a></li>
											 <li class="col"><a href="#"><i class="icon-twitter"></i></a></li>
											 <li class="col"><a href="#"><i class="icon-google-plus-sign"></i></a></li>
											 <li class="col"><a href="#"><i class="icon-linkedin"></i></a></li>
											 <li class="col"><a href="#"><i class="icon-skype"></i></a></li>
										</ul>
									</div>
								</div>
 				     	</div>
						</div>


			<!-- <div class="row section-head">
			<div class="col full"> -->
	   <div class="column">
	     <div class="ui segment">
				 <h2 style="color:#a0308b;font-family: 'Trade Winds', cursive;">My Profile</h2>
				 <strong style="font-size:30px;font-family: 'Russo One', sans-serif;">Sri Venkatesh</strong><br>
 				 <strong style="font-family:'Dosis', sans-serif;font-size:25px;">A Master of Engineering Graduate who started his dance career in 2008.
					 He got trained from various dance companies in Coimbatore,Bangalore and Chennai.
					 Crossed hard milestones with failures and success.
					 His choreography got successful places of different stages in and around TamilNadu.</strong>
	     </div>
	   </div>
	 </div>
 </div>
 </section>

      <!-- Testimonials -->
<!--

-->



   </section> <!-- About Section End-->


   <!-- Map Section
   ================================================== -->
   <section id="map">

      <!-- <p class="map-error">Something went wrong... Unable to load map... Please try to enable javascript</p> -->

   </section> <!-- Map Section End-->

	 <!-- Contact Section
   ================================================== -->
   <section id="contact">

      <div class="row section-head">
         <div class="col full">
            <h2 style="text-align:center; padding-bottom:-28px;font-family: 'Trade Winds', cursive;">Contact Us</h2>
            <p class="desc" style="text-align:center;">Get in touch with us.</p>
         </div>
      </div>

      <div class="row">

				<div class="ui two column stackable grid">
				  <div class="column" style="padding-left:18px;">
				    <div class="ui segment">
							<strong style = "color:#a0308b;"><i style="padding-left: 85px;" class="fa fa-phone fa-2x"></i></strong>
							<p style="padding-bottom:25px;margin-left:22px;"> 9789574769 , 9524589177 </p>
							<strong style = "color:#a0308b;"><link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet"> <i style="padding-left: 85px;" class="fa fa-envelope-o fa-2x"></i></strong><br>
							<p style="padding-bottom:25px;margin-left:22px;">spiritoedance@gmail.com</p>
							<strong style = "color:#a0308b;"> <i style="padding-left: 85px;" class="fa fa-map-marker fa-2x"></i></strong><br>
							<p style="padding-bottom:25px;margin-left:22px;">8/10,Gandhi Nagar,<br>Meharalli street, Vellalore,<br>Coimbatore.<p>
				    </div>
				  </div>

  <div class="column">
    <div class="ui segment">
			<form method="post" action="https://script.google.com/macros/s/AKfycbyVa715cwMJV-_dq-cfXZfeWQbWSQVt8iE611OM-1WzK5shpgj1/exec
">

				<input placeholder="Name" type="text" id="name" name="name" value="">

				<input placeholder="Email" type="email" id="email" name="email" value="">

				<textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>

				 <button type="submit">Submit</button>
			</form>
    </div>
  </div>
</div>

				</div>


         <aside class="col g-5">



					         </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="col g-7">
            <ul class="copyright">
               <li>CopyRight&copy; 2017</li>
               <li>Design by <a href="http://www.kitinfonest.com/" title="Styleshout" target="_blank">Infonest</a></li>
            </ul>
         </div> <!-- <<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">VIDEO -->

         <div class="col g-5 pull-right">
            <ul class="social-links">
               <li><a href="https://www.facebook.com/spiritoedance/"><i style="font-size:25px" class="icon-facebook"></i></a></li>
               <li><a href="https://www.youtube.com/channel/UC3nGUifGhcGGDW0uOfFsxvQ"><i style="font-size:25px" class="icon-youtube"></i></a></li>
               <li><a href="#"><i style="font-size:25px" class="icon-google-plus-sign"></i></a></li>
               <li><a href="#"><i style="font-size:25px" class="icon-linkedin"></i></a></li>
               <li><a href="#"><i style="font-size:25px" class="icon-skype"></i></a></li>
               <li><a href="#"><i style="font-size:25px" class="icon-rss-sign"></i></a></li>
            </ul>
         </div>
 <!-- <<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">VIDEO -->
      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/scrollspy.js"></script>
   <script src="js/jquery.flexslider.js"></script>
   <script src="js/jquery.reveal.js"></script>
	 <script>
		 function initMap() {
			 var uluru = {lat: 10.9768612, lng: 77.035116};
			 var map = new google.maps.Map(document.getElementById('map'), {
				 zoom: 15,
				 center: uluru
			 });
			 var marker = new google.maps.Marker({
				 position: uluru,
				 map: map
			 });
		 }
	 </script>

   <script async defer src="https://maps.google.com/maps/api/js?key=AIzaSyCxQTAaZk98EPQCjqaFEPyY2km0ri7EFMY&callback=initMap" type="text/javascript"></script>
   <!-- <script src="js/gmaps.js"></script> -->
   <script src="js/init.js"></script>
   <script src="js/smoothscrolling.js"></script>

</body>

</html>
